---
layout: simplePage
title: Donate
description: 捐赠
category: donate
---

<link rel="stylesheet" href="../css/bootstrap.min.css">

<link rel="stylesheet" href="../css/blog.css">
<link rel="stylesheet" href="../css/site.css">
<div class="subheader-container">
<div class = "inner">
<nav class = "sub-nav">
    <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Home</a>
    <a class="{% if page.category == 'categories' %} selected {% endif %}" href="/blog/categories.html">Categories</a>
    <a class="{% if page.category == 'donate' %} selected {% endif %}" href="/blog/donate.html">Donate</a>
</nav>
</div>
</div>

<style>
img[alt=drawing] { width: 35%; }
</style>

<section class="inner">
<div id="content">
<div class="pidex">
  <blockquote>
    <p>如果wo的博客或者开源项目对你有帮助，或者觉得这个wo本身挺有意思，再或者就是有钱任性没处花，愿意打赏wo的话，wo在这里先行谢过啦！</p>
  </blockquote>
</div>

<h2 id="支付宝扫码">支付宝扫码</h2>
<div class="post">
<img src="../images/zfb_pay.jpg" alt="drawing">
</div>

<h2 id="微信扫码">微信扫码</h2>
<div class="post">
<img src="../images/wx_pay.jpg" alt="drawing">
</div>

</div>
</section>

<div class="separator"></div>

<div  style="border-bottom: 1px solid #ddd"></div>
<footer>
	
	访问量：
	<a href="https://www.easycounter.com/">
	<img src="https://www.easycounter.com/counter.php?zhuhu00"
	border="0" alt="Free Web Counter"></a>
	<br>Page Counter</a> since August 2020.
    
</footer>
