<!DOCTYPE html>
<html lang="{% if page.language == nil %}en{% else %}{{ page.language }}{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="aexITLS38FdIRzwj25OVWxm87rpa9l-UV0URTyC9cTs" />
  <title>
    {{ page.title }}
    {% if page.category == 'blog' and page.url != '/blog/index.html' %}
    - Zhu Hu
    {% endif %}
  </title>
  <link rel="stylesheet" href="../css/site.css">
  <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  {% if page.description %}<meta name="description" content="{{page.description}}" />{% endif %}
  <link href="/blog/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)" />

  {% if page.url == '/index.html' %}
    <link rel="alternate" hreflang="en" href="/" />
  {% elsif page.url == '/cn/index.html' %}
    <link rel="alternate" hreflang="cn" href="/cn/" />
  {% endif %}

  {{ page.extra_head }}

  {% if page.category == 'blog' %}
    {% if page.photo %}
      <meta property="og:image" content="/images/posts/{{ page.photo }}" />
    {% endif %}
  {% endif %}

</head>

<body>
  <div class="header-container">
    <header class="inner">
      {% if page.url == '/cn/' %}
      <nav>
        <a class="{% if page.category == 'about-zh' %} selected {% endif %}" href="/cn/">关于</a>
        <a class="{% if page.category == 'project-zh' %} selected {% endif %}" href="/cn/project">项目</a>
        <a href="/ZhuHu_resume.pdf">简历</a>
        <a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publication/">出版</a>
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">博客</a>
        <a href="/books/">书单</a>
		<a href="/timeline/">时间线</a>
        <a href="https://github.com/zhuhu00">Github</a>
      </nav>
      {% elsif page.url == '/cn/project' %}
      <nav>
        <a class="{% if page.category == 'about-zh' %} selected {% endif %}" href="/cn/">关于</a>
        <a class="{% if page.category == 'project-zh' %} selected {% endif %}" href="/cn/project">项目</a>
	    <a href="/ZhuHu_resume.pdf">简历</a>
        <a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publication/">出版</a>
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">博客</a>
	    <a href="/books/">书单</a>
		<a href="/timeline/">时间线</a>
        <a href="https://github.com/zhuhu00">GitHub</a>

      </nav>
      {% else %}
      <nav>
        <a class="{% if page.category == 'about' %} selected {% endif %}" href="/">About</a>
        <a class="{% if page.category == 'project' %} selected {% endif %}" href="/project/">Project</a>
	    <a href="/ZhuHu_resume.pdf">Resume</a>
        <a class="{% if page.category == 'publication' %} selected {% endif %}" href="/publication/">Publication</a>
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Blog</a>
	    <a href="/books/">Book</a>
		<a href="/timeline/">Times</a>
        <a href="https://github.com/zhuhu00">GitHub</a>
      </nav>
	  {% endif %}

      <div class="pull-right right logo">
        <div class="name">
          <a href="/">Zhu Hu</a><br />
          <small>
            <em>
              {% if page.url == '/cn/index.html' %}
                <a href="/cn">开发者</a>
              {% else %}
                <a href="/">developer</a>
              {% endif %}
            </em>
          </small>
        </div>
        <a href="http://zhuhu00.github.io/"><img class="avatar" src="http://zhuhu00.github.io/imgs/ZhuHu.png" alt="My profile picture" /></a>
      </div>
      <div class="clear"></div>
    </header>
    <div class="clear"></div>
  </div>

  {{ content }}
  <!--<div class="separator"></div>-->

<footer>
    <div  style="border-bottom: 1px solid #eee"></div>
    <p>
		<itemprop="email" class="vcard-detail pt-1 css-truncate css-truncate-target ">
		<svg class="octicon octicon-mail" viewBox="0 0 18 14" width="20" height="18">
		<path fill-rule="evenodd" d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z">
		</path>
		</svg>
		<a class="u-email link-gray-dark " href="mailto:zhuhu00@foxmail.com">zhuhu00@foxmail.com</a>

		<p>访问量：
		<a href="https://www.easycounter.com/">
		<img src="https://www.easycounter.com/counter.php?zhuhu00"
		border="0" alt="Free Web Counter"></a>
		<br>Page Counter</a> since August 2020.
		</p>
   </p>
</footer>
</body>
</html>
